doctype html
html(lang="pt-br")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= pageTitle
        include ./helpers/styles.jade

    body

        div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
            header(class="mdl-layout__header")
                div(class="mdl-layout__header-row")
                    <!-- Title -->
                    span(class="mdl-layout-title")= pageTitle
            div(class="mdl-layout__drawer")
                span(class="mdl-layout-title")= pageTitle
                nav(class="mdl-navigation")
                    a(class="mdl-navigation__link" href="")
                        |Home
                    a(class="mdl-navigation__link" href="")
                        |Cadastrar
            main(class="mdl-layout__content")
                div(class="page-content")
                    h1= pageTitle
                    ul
                        each instituicao in instituicoes
                            each item in instituicao
                                li= item
                            li= '==================='

        include ./helpers/scripts.jade


// Caso alguem mecha, importante, o webservice mudou, não é mais em java.
// Agora foi escrito todo em Node e já tem a rota que traz os hospitais mais próximos
// Para clonar o repositório ele se encontra no link
// https://github.com/YuriSS/lds-webservice
// Só ira funcionar a aplicação se rodar esse novo webservice